@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Didact+Gothic&family=Oxygen&family=Roboto+Condensed&display=swap');


.footer-design{
    position: absolute;
    bottom: 0;
    background-color: #191919;
    width: 100%;
    height: 100px;
    
}
#footer-text1{
    position: relative;
    text-align: center;
    font-family: Oxygen;
    color: rgb(163, 163, 163);
    font-size: 12px;
    top: 20px;
}
#footer-text2{
    position: relative;
    text-align: center;
    font-family: Oxygen;
    color: rgb(163, 163, 163);
    font-size: 12px;
    top: 20px;
}